* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
    padding: 0px;
    margin: 0px;
}

.shadow {
    box-shadow: 0px 2px 5px 2px darkgrey;
}
h1 {
    width: 100%;
    background: rgb(145, 178, 216);
    color: black;
    margin: 0px;
    padding: 15px 20px;
    border : 1px black;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}
